body {
    background-color: #200c4b;
    padding: 0;
    margin: 0;
    color: white;
}


Nav li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    list-style-type: none;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        background-color: #FF7200;
    }
    .nav_link{
        list-style-type: none;
        text-decoration: none;
    
    }
    .nav_link li{
        display: inline-block;
        padding: 0px 20px;
        text-decoration: none;
    }
    .nav_link li a {
        transition: all 0.3s ease 0s;
    }
    .nav_link li a:hover {
        color: #31d3bd;
     }
    

section {
    padding: 20px;
}

.header {
    text-align: center;
}

.flex-container {
    display: flex;
    font-style: italic;
    font-size: large;
    margin-top: auto;
    text-align: center;
    align-content: flex-start;
    
}

.flex-item2 {
    display: flex;
    width: 350px;
    height: 250px;
    align-items: right;
    margin-right: auto;
}

.flex-item3 {
    text-align: center;
    font-style: normal;
    font-size: 17px;
    font-family: sans-serif;
    margin-left: auto;
    padding-top: 30px;
    padding-right: 70px;
    align-items: center;

}

.h2p {
    text-align: center;
    font-style: normal;
    font-size: 17px;
    font-family: sans-serif;
    margin-left: auto;
    padding-top: 30px;
    padding-left: 60px;
    align-items: center;

}

.flex-item4 {
    width: 350px;
    height: 250px;
    align-items: left;
    margin-left: auto;
}

.white {
    background-color: rgb(248, 245, 245);
    color: black;
}

.design {
    display: flex;
    width: 250px;
    height: 250px;
    align-items: right;
    margin-right: auto;
    border-radius: 50%;
}

.flex-item3 {
    text-align: center;
    font-style: normal;
    font-size: 17px;
    font-family: sans-serif;
    margin-left: auto;
    padding-top: 30px;
    padding-right: 70px;
    align-items: center;

}

.cornflowerblue {
    margin-right: 120px;
    margin-left: 120px;
    padding: 50px;
}

.project {
    background-color: rgb(4, 88, 213);
    color: white;
    height: 30px;
    padding: 4px;
    margin-top: 60px;
}

footer {
    background-color: chocolate;
    display: flex;
    color: white;
}

ul {
    list-style-type: none;
}

footer div {
    padding: 15px;
}

li {
    padding: 10px;
}

.span {
    color: chocolate; 
}